name: CI

on: [push]

jobs:
  test:
    runs-on: macOS-latest
    name: Test
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Get swift version
        run: swift --version
      - name: Build and test
        run: swift test --enable-code-coverage
      - name: Upload coverage to Codecov (currently not working) 
        run: bash <(curl -s https://codecov.io/bash) -X xcodeplist -f $(swift test --show-codecov-path) -t ${{ secrets.CODECOV_TOKEN }}
